@media screen and (max-width:768px) {
    /* Navigation */
    .main-menu-tab-button {
        width: 24%;
        font-size: 19px;
        height: auto;
    }
    .main-menu-tab-button-text {
        height: auto;
    }

    .alert {
        font-size: 13px;
    }

    .tab-title {
        font-size: 18px;
    }
    .tab-content {
        margin-left: 10px;
        margin-right: 10px;
    }

    .spinner-circle {
        left: 40%;
        top: 40%;
        border-top: 4px solid white;
        border-bottom: 4px solid white;
    }

    .spinner-text {
        left: 38%;
        top: 34%;
        font-size: 25px;
    }

    /* Joke generator */
    .generator-button {
        height: 70px;
    }

    .generated-joke-text {
        font-size: 30px !important;
        min-height: 55vh;
    }
    .buttons-row-left {
        margin-left: 0;
    }
    .buttons-row {
        margin-left: 0;
    }
    .buttons-row-right {
    }
    .btn-prev-joke {
    }
    .btn-save-joke {
    }

    /* Favorite jokes */
    .list-group {
        margin: 10px 0;
    }

    .stored-joke {
        font-size: 18px;
        padding: 10px;
    }

    /* Schemes */
    .scheme-save-buttons-container {
        margin-left: 0;
    }

    .btn-save-scheme {
        font-size: 14px;
        min-height: 40px;
        margin-right: 0;
    }

    .scheme-save-buttons-filler {
        display: inherit;
    }

    .btn-symbol {
        font-size: 25px;
    }

    .scheme-items-container {
        margin-top: 80px;
        margin-left: 0;
    }

    .word-in-scheme-container {
        margin: 0;
        padding: 0;
    }

    .word-in-scheme-arrow-button {
        height: 50px;
        width: 50px;
        margin: 0;
        margin-left: 40%;
        font-size: 25px;
    }

    .word-in-scheme-remove-button{
        height: 50px;
        width: 50px;
        border-radius: 10px;
    }

    .word-in-scheme-selector {
        font-size: 14px;
    }

    .add-word-to-scheme-btn-container {
        margin-left: 0;
        margin-bottom: 75px;
        margin-top: 0;
        padding: 10px;
    }

    /* Vocabulary */
    .word-menu-tab-button {
        font-size: 16px;
        height: 35px;
        background: white;
    }

    .word-menu-tab-button-text {
        height: 35px;
    }

    .vocabulary-page {
        margin: 10px 0 0;
        font-size: 12px;
    }

    .input-word-text-search {
        margin-bottom: 10px;
        height: 25px;
    }
    .awesomplete {
        width: 80%;
        margin-right: 5px;
        margin-top: 0;
    }

    .btn-add-word {
        font-size: 11px;
    }

    .vocabulary-words-list {
        list-style-type: none;
        margin-left: -35px;
    }

    .vocabulary-words-list > li {
        margin-right: 10px;
    }

    /* Technical */
    .select2-selection.select2-selection {
        min-height: 40px;
        max-height: 40px;
        font-size: 25px;
        padding: 5px;
    }

    .select2-container--default .select2-selection--single .select2-selection__arrow{
        height: 40px;
    }
    .select2-results__option,
    .select2-search__field
    {
        font-size: 20px;
    }
}